@*
* This template takes a single argument, a String containing a
* message to display.
*@
@()

@main("Page 1 - Starter Kit | Materialize - Material Design HTML Admin Template") {
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">Page 1 teste</h4>
        <p>
            Sample page.<br />For more layout options, refer
            <a
            href="https://demos.pixinvent.com/materialize-html-admin-template/documentation//layouts.html"
            target="_blank"
            class="fw-bold"
            >Layout docs</a
            >.
        </p>
    </div>
}